#result{
  display: none;
  color:blue;
  margin-top: 17%;
}
#hresult{
  color: red;
}
h1{
  color: blue;
}
.label{
  color: red;
}
#page1{
  display: none;
}
#clearfix{
  height: 8%;
}
body{
  background-image: url(../img/df.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#head-board{
  margin-top: 17%;
}
#budy{
  color: blue;
}
